.body{
    margin: 0;
    padding: 0;
}
.intro{
    padding: 20px 0 50px 0;
    background: url('background.jpg');
    background-attachment: fixed;
    background-repeat: repeat-x;
    color: white;
    background-size: 100% 100%;
}
.b1{			
    background:#000;
    padding:0px 20px;
    border-radius:10px;
}
.b2{			
    background:#000;
    padding:0px 10px;
    border-right:solid 5px #FFF;
    border-left:solid 5px #FFF;
    
}
.b3{			
    background:#000;
    padding:0px 5px;
    border-right:solid 5px #FFF;
    border-left:solid 5px #FFF;
    overflow: hidden;
    
}
.b3 h1{
    color: #FFF;
    text-align: center;
    padding-top:10px;
}
.message{
    background:transparent;
    padding: 30px 0 0 0;
}
.message h2{
    text-align: center;
}
.message p{
    text-align: justify;
    padding: 10px 0 0 0;
}
.message h5{
    padding-left:600px ;
}
.image{
    padding: 100px 0 0 0;
}
